gspread
ipywidgets
apache-airflow
sqlalchemy
pandas
psycopg2
pytest
sshtunnel
sqlparse
networkx
pyvis
numpy
matplotlib
numpy
seaborn
sqlalchemy-redshift==0.8.2
pydot
ujson
tqdm
google-auth
google_auth_oauthlib
sphinx